section>.container {
  max-width: 1600px;
  margin: auto;
  display: block;
  padding: 30px 50px;
}

#nav-bar {
  text-align: center;
}

.icon-color {
  color: #39bfeb;
}

/* css banner begin */

#banner {
  height: 80vh;
  /* min-width: 1170px; */
  overflow: hidden;
  position: relative;
}

#banner>div:first-child {
  height: 80vh;
  background: url(../images/banner.jpg) no-repeat center top;
  background-size: 1900px auto;
  filter: brightness(0.5);
}

#banner>div:last-child {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  width: 100%;

}

#banner h1 {
  font-size: 55px;
}


/* css nav begin */

#nav-bar>nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 50px;
  width: 80vw;
}


#nav-bar img {
  height: 190px;
  border: 15px solid white;
  border-radius: 999px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nav-bar>nav span {
  position: relative;
  flex: 2.5;
}

#nav-bar>nav a {
  display: inline-block;
  text-decoration: none;
  flex: 1;
  line-height: 80px;
  text-transform: uppercase;
  font-weight: bold;
}

#nav-bar>nav h1 {
  font-size: 30px;
}

#nav-bar>nav>* {
  height: 80px;
  border-left: 1px solid #ccc;
  border-collapse: collapse;
}

#nav-bar>nav>a:last-child {
  border-right: 1px solid #ccc;
}

#nav-bar>nav div {
  color: #ccc;
}



/* css about begin */
#about {
  height: 500px;
  background: conic-gradient(#f1f1f1 0, #f1f1f1 180deg, #f7f7f7 180deg, #f7f7f7 360deg)
}

#about>.container {
  width: 100%;
  padding: 80px 0px 0px 0px;

}

#about>div>div {
  padding: 0 50px;
}

#about>div>div>h1 {
  margin-bottom: 50px;
}

#about ul {
  list-style-type: none;
}

#about li {
  padding-bottom: 10px;
}

#about ul span {
  font-weight: bold;
}

#about .list-icon-info i {
  font-size: 20px;
  padding-right: 5px;
}

#about #personal-info {
  padding: 0px 50px;
}

#about #personal-info input {
  width: 100%;
  padding-left: 5px;
  border: 1px solid #ccc !important;
  border-radius: 4px;
  outline-color: blue;
}

.text-alert {
  padding: 5px 0px;
}

.btn-submit {
  height: 35px;
  width: 65px;
  border: none;
  background-color: #5151f0;
  color: white;
  border-radius: 5px;
}

.info-form {
  display: none;
}


/* css job-info begin */
#job-info>div {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px; */
  padding: 30px 100px;
}

#job-info>.container>div:first-child {
  margin-bottom: 30px;
}

#job-info>div>div {
  gap: 30px;
}

.job-info-item {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 20px) !important;
  min-height: 190px;
  position: relative;
  transition: all 0.5s ease-in-out;
  height: fit-content;
  overflow: hidden;
}



.job-info-item>ul,
.job-info-item>div:last-child {
  display: flex;
}

.job-info-item:hover .btn-view {
  display: flex;
}

.job-info-item .btn-view {
  height: 40px;
  width: 190px;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgb(255, 255, 142);
  border-radius: 20px;
  position: absolute;
  top: 110px;
  left: 20px;
}

.job-info-item .btn-view>i {
  font-size: x-large;
  padding-right: 10px;
  padding-left: 10px;
  transition: 0.4s;
}

.btn-view span {
  width: 86px;
}

.job-info-item>div:first-child {
  display: flex;
  min-height: 190px;
}

.job-info-item>div>h1 {
  width: 65%;
  height: 140px;
  font-size: 35px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.job-info-item>div>span {
  width: 35%;
  position: relative;
}

.job-info-item>div>span>i {
  font-size: 60px;
  position: absolute;
  top: 30px;
  color: #ccc;
}


.job-info-item>.experience {
  list-style: none;
  margin-left: 1em;
  flex-direction: column;
}

.job-info-item>.experience>li::before {
  content: "";
  background-color: #39bfeb;
  height: 10px;
  width: 10px;
  border-radius: 999px;
  display: inline-block;
  margin-right: 1em;
}

.job-info-item li {
  padding-bottom: 50px;
}

.job-info-item li>div:last-child {
  margin: 0px 10px 20px 31px;
  line-height: 25px;
}

.job-info-item li>div:last-child>p {
  margin-bottom: 5px;
}

.job-info-item .timeline {
  padding: 5px 10px;
  margin-left: 21px;
  font-style: italic;
}

.now-time {
  color: white;
  background-color: #39bfeb;
  border-radius: 7px;
  width: 75px;
  display: inline-block;
  text-align: center;
}

span.skills-available {
  background: #199cdb;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 45px;
}

span.skills-not-available {
  background: #ccc;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 45px;
}

.job-info-item .skills,
.job-info-item .interests,
.job-info-item .experience {
  height: 0;
  margin-bottom: 0;
  display: flex;
  transition: 0.4s;
}


.job-info-item .skills {
  flex-direction: column;
  padding-left: 20px;
}

.job-info-item .skills>div {
  padding-bottom: 10px;
}

.job-info-item .interests {
  padding-left: 20px;
  max-width: 350px;
  justify-content: space-between;
}

.job-info-item .interests i {
  color: #39bfeb;
  font-size: xx-large;
  border: 1px solid #1caada;
  border-radius: 999px;
  height: 60px;
  width: 60px;
  text-align: center;
  position: relative;
}

.job-info-item .interests i::before {
  position: absolute;
  top: 12px;
  left: 9px;
}

.job-info-item .interests>div {
  text-align: center;
}

.ic-strategy::before {
  left: 16px !important;
}

.ic-hotairballoon::before {
  left: 14px !important;
}

/* css certificate begin  */

#certificate>div {
  padding: 40px 120px 10px;
}

.certificate-container {
  display: flex;
  flex-direction: column;
}

.certificate-container>div {
  border-top: 2px solid #d6c08d;
  padding: 30px 0;
}

.certificate-container>div:first-child {
  display: flex;
  border-top: none;
}

.certificate-item {
  display: flex;
}

.certificate-item:first-child {
  width: calc(50% - 10px);
}

.certificate-item:nth-child(2) {
  height: 110px;
  border-left: 2px solid #d6c08d;
  padding-left: 20px;
}

.certificate-item>img {
  height: 110px;
  width: 210px;
}

.certificate-item>div {
  padding: 10px 20px 0px 20px;
}

.certificate-item>div p {
  padding-top: 15px;
}

.certificate-item>div p:last-child {
  padding-top: 0;
}

/* css project begin */

#project>div {
  padding: 40px 100px 10px;
}

.project-container {
  justify-content: space-between;
  margin: 0 !important;
}

.section-title {
  padding-bottom: 30px;
}

.project-item {
  width: 30% !important;
  border: 2px solid #ccc;
  padding: 0 !important;
}

.project-item>img {
  width: 100%;
}




table {
  width: 100%;
  height: calc(100% - 270px);
  border-collapse: collapse;
}

table tr {
  padding: 5px 0px;
}

table td {
  min-height: 40px;
  display: flex;
  align-items: center;
  border-top: 2px solid #ccc !important;

}

table td span.time {
  margin-left: 20px;
  width: 55px;
  height: 25px;
  line-height: 25px;
  border-radius: 999px;
}

table .project-title {
  width: 100%;
  padding-left: 20px;
  display: flex;
  align-items: center;
  height: min-content;
}

table td span>i {
  padding: 0px 10px;
}

table .td-describe {
  padding: 10px 5px;
  align-items: flex-start;
  min-height: 70px;
}

table .td-describe div:first-child {
  min-width: 100px;

}

.project-second tr:last-child>td {
  min-height: 40px;
}


/* css footer begin */
#footer {
  margin-top: 40px;
}

#footer>div>div {
  display: flex;
  justify-content: center;
}

#footer a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 20px 10px;
}

#footer i {
  font-size: 35px;
}